@use "../../scss/abstract/mixins" as *;
@use "../../scss/abstract/screen-queries" as *;

.layout {
    @include flex($direction: row, $justify: space-between, $gap: 1rem);

    .avatar {
        max-width: 2.25rem;
    }

    textarea {
        resize: none;

        flex-grow: 1;

        padding: 0.5rem 1rem;

        border: 1px solid var(--light-gray);
        border-radius: 0.25em;
    }

    /* stylelint-disable-next-line order/order */
    @include respond-phone {
        flex-flow: row-reverse wrap;

        .avatar {
            order: 2;
        }
    }
}
