.button {
    cursor: pointer;

    padding: 0.75rem 1.5rem;

    font-weight: 500;
    color: var(--white);
    text-transform: uppercase;

    background-color: var(--moderate-blue);
    border: 0.5px solid var(--dark-blue);
    border-radius: 0.5em;

    &:hover,
    &:focus-visible {
        background-color: var(--moderate-blue-hover);
    }

    &:active {
        background-color: var(--moderate-blue-active);
    }
}
